<!-- Contact Me section -->
    <section id="contact">
      <div class="container">
        <!-- Section title Row -->
        <header class="contact-header row">
          <h1>Say Hello</h1>
          <div class="title-accent"></div>
        </header>

        <!-- Contact information and social links container -->
        <div class="contact-content row">
          <div class="contact-info col-sm-3">
            <h3>Thomas Lo</h3>
            <p>Los Angeles, CA</p>
            <p>(213) 393-6282</p>
            <a>wagaiznogoud@gmail.com</a>
          </div>
          <div class="social-links col-sm-6">
            <%= link_to image_tag("icons/twitter.png", alt: "twitter"),
            'http://rubyonrails.org/' %>
            <%= link_to image_tag("icons/fb.png", alt: "facebook"),
            'http://rubyonrails.org/' %>
            <%= link_to image_tag("icons/git.png", alt: "github"),
            'http://rubyonrails.org/' %>
            <%= link_to image_tag("icons/linkedin.png", alt: "linkedin"),
            'http://rubyonrails.org/' %>
            <%= link_to image_tag("icons/insta.png", alt: "instagram"),
            'http://rubyonrails.org/' %>
          </div>
          <div class="copyright col-sm-3">
            <div>Copyright &copy Thomas Lo</div>
            <div>November, 2015</div>
          </div>
        </div>
      </div>
    </section><!-- End Contact section -->